@{
    ViewData["Title"] = "Books";
}
@model List<BookClubApp.Models.BookModel>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>
                    @if (!item.IsReaded)
                    {
                        <form id="addReadedBook" asp-controller="Book" asp-action="AddBookToReaded" method="post">
                            <input type="hidden" name="bookId" value=@item.Id />
                            <input type="hidden" name="userName" value=@User.Identity.Name />
                            <button type="submit" class="nav-link btn btn-link">Add</button>
                        </form>
                    }
                    else
                    {
                            <input type="submit" class="nav-link btn btn-link" value="Added" disabled />
                    }
                </td>
                <!-- Отобразите другие свойства объекта в других ячейках -->
            </tr>
        }
    </tbody>
</table>

