@{
    ViewData["Title"] = "ReadedBooks";
}
@model List<BookClubApp.Models.BookModel>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>
                    <form id="deleteReadedBook" asp-controller="Book" asp-action="DeleteBookFromReaded" method="post">
                        <input type="hidden" name="bookId" value=@item.Id />
                        <input type="hidden" name="userName" value=@User.Identity.Name />
                        <button type="submit" class="nav-link btn btn-link">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
